/*------ Colors ------*/
$--color-light: hsl(180, 8%, 70%);
$--color-lighter: hsl(0, 0%, 90%);
$--color-blue-inputs: hsl(188, 100%, 40%);
$--color-scrollbar: hsl(0, 0%, 69%);
$--color-boxshadow: hsla(0, 0%, 36%, 0.169);
$--color-kairos: hsl(28, 100%, 50%);

/*------ Resets ------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input,
input:focus-visible {
  border: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

/*------ Main styles ------*/
body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.main-container {
  display: flex;
  align-items: center;

  .content {
    opacity: 0;
    flex: 1;
    font-size: 2rem;
    text-align: center;
    color: $--color-kairos;
    font-weight: bold;
    &--show {
      transition: all 180ms ease-out;
      -o-transition: all 180ms ease-out;
      -moz-transition: all 180ms ease-out;
      -webkit-transition: all 180ms ease-out;
      opacity: 1;
    }
  }
  aside {
    display: flex;
    flex-direction: column;
    background-color: $--color-lighter;
    box-shadow: inset -7px 2px 10px 1px $--color-boxshadow;
    border-radius: 10px;
    height: 93vh;
    width: 270px;
  }
  .title {
    margin: 0;
    padding: 1rem 0 0 1rem;
    color: $--color-kairos
  }

  $--br: 5px;
  .search {
    margin: 2rem 0 1rem 0;
    margin-inline: auto;
    position: relative;
    & > .fa-magnifying-glass {
      position: absolute;
      top: 50%;
      left: 0.7rem;
      transform: translateY(-50%);
      height: 18px;
      color: $--color-light;
    }
    &__input {
      font-size: 1rem;
      width: 200px;
      border-radius: $--br;
      padding: 0.6rem 0.6rem 0.6rem 2.2rem;
      &:focus-visible {
        outline: none;
        border-color: $--color-blue-inputs;
        box-shadow: 0 0 3px 0 #00b1ccaf;
        & ~ .fa-magnifying-glass {
          color: $--color-blue-inputs;
        }
      }
    }
  }
  aside ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 1rem 1rem;
    & > li {
      position: relative;
      display: flex;
    }
  }

  $--br-x2: 10px;
  .corner {
    position: absolute;
    transform: scaleX(0);
    -o-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    bottom: -#{$--br-x2};
    right: 0;
    overflow: hidden;
    width: $--br-x2;
    height: $--br-x2;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: calc(#{$--br-x2} + #{$--br-x2});
      height: calc(#{$--br-x2} + #{$--br-x2});
      border-radius: 50%;
      box-shadow: $--br-x2 -#{$--br-x2} 0 0 white;
    }
  }
  .corner--top {
    top: -#{$--br-x2};
    &::before {
      bottom: 0;
      top: auto;
      box-shadow: $--br-x2 $--br-x2 0 0 white;
    }
  }
  .corner--show {
    transform: scaleX(1);
    -o-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transition: transform 30ms linear 150ms;
    -o-transition: transform 30ms linear 150ms;
    -moz-transition: transform 30ms linear 150ms;
    -webkit-transition: transform 30ms linear 150ms;
  }

  .tab {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    text-align: center;
    padding: 1.4rem;
    margin-right: 1.4rem;
    font-size: 1rem;
    border-radius: $--br;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      background-color: #ffffff99;
      outline: none;
    }
    &--active {
      transition: all 180ms linear;
      -o-transition: all 180ms linear;
      -moz-transition: all 180ms linear;
      -webkit-transition: all 180ms linear;
      box-shadow: -7px 5px 8px 1px $--color-boxshadow;
      background-color: white;
      font-weight: bold;
      border-bottom-right-radius: unset;
      border-top-right-radius: unset;
      margin-right: 0;
      &:hover,
      &:focus-visible {
        background-color: white;
        outline: none;
      }
    }
  }

  .tab__avatar {
    background-color: $--color-light;
    border-radius: 100%;
    padding: 5px;
    height: 37px;
    aspect-ratio: 1;
    .tab__avatar__img {
      fill: none;
      stroke: rgb(255, 255, 255);
      stroke-width: 1.2;
    }
  }

  /*------ Scroll-bar styles ------*/
  aside ul {
    direction: rtl;
    & > li {
      direction: ltr;
    }
  }
  aside ul {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.4em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 100vw;
    }
    &::-webkit-scrollbar-track {
      margin-block: 1.5em;
    }
    @supports (scrollbar-color: red blue) {
      & {
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
      }
    }

    &:hover {
      &::-webkit-scrollbar {
        width: 0.4em;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $--color-scrollbar;
        border-radius: 100vw;
      }
      @supports (scrollbar-color: red blue) {
        & {
          scrollbar-color: $--color-scrollbar transparent;
          scrollbar-width: thin;
        }
      }
    }
  }
}
